{% extends "layout.html" %}

{% block title %}{{ body.name }}, {{ legislative_term.term }}. Wahlperiode{% endblock %}
{% block head %}
  <link rel="alternate" type="application/atom+xml" title="ATOM" href="{{ url_for('body_atom', body=body.slug, _external=True) }}" />
{% endblock %}

{% block content %}
<div class="page-header page-header--has-feed">
  <h1><a href="{{ url_for('body', body=body.slug) }}">{{ body.name }}</a> &mdash; {{ legislative_term.term }}. Wahlperiode</h1>
  <a href="{{ url_for('body_atom', body=body.slug, _external=True) }}" class="feed" title="neue Anfragen als Atom-Feed abonnieren">
    <span class="sr-only">neue Anfragen als Atom-Feed abonnieren:</span><img src="{{ url_for('static', filename='feed-icon.svg') }}" class="feed-icon" alt="Atom-Feed"/>
  </a>
</div>

<ol class="paper-list">
  <!-- FIXME -->
  <%= render partial: 'paper/paper', collection: @papers %>
</ol>

<!-- FIXME -->
<p class="pagination-total"><%= number_with_delimiter @papers.total_count %> <%= t :kleine_anfragen, count: @papers.total_count %></p>
<%= paginate @papers %>

{% endblock %}
